.cajafotos {
    display: flex !important;
    justify-content: center !important;
    background-color: rgba(167, 211, 231, 0.616);
    width: 100vw;
    height: 50vh;



    .foto{
        height: 60vh;

        -webkit-box-shadow: 10px 10px 31px 6px rgba(0, 0, 0, 0.582);
        -moz-box-shadow: 10px 10px 31px 6px rgba(0,0,0,0.83);
        box-shadow: 10px 10px 31px 6px rgba(0, 0, 0, 0.678);
    }
}

.site-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 40vh;

    .card {
        -webkit-box-shadow: 14px 11px 31px 4px rgba(0, 0, 0, 0.247);
        -moz-box-shadow: 14px 11px 31px 4px rgba(0, 0, 0, 0.171);
        box-shadow: 14px 11px 31px 4px rgba(0, 0, 0, 0.199);
    }

}

.registro-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}
