.header {
    color: red;
    min-height: 5vh;
    a {
        all: unset;
        cursor: pointer;
        padding: 0.8em;
        &:hover {
            background-color: rgb(220, 244, 253);
        }
    }
}