.header {
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a {
        all: unset;
        cursor: pointer;
        padding: 1em;
        &:hover {
            background-color: rgba(220, 244, 253, 0.493);
        }
    }

    .menuDer {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}